body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.flex-area{

    display: flex;

}
.header-area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 25px;
    margin: 0px 50px;

}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width img{
    width:80% ;
}
.hire-button{
    background-image: linear-gradient(rgba(241, 219, 18, 0.897),orange);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;

}
.experience-item{
    width: 46%;
    margin: 2%;
    padding: 0px 45px;
    box-shadow: 10px 10px 40px gray;

}
#first-border{
    border-image: linear-gradient(yellow,orange);
    border-left: 10px solid;
    border-image-slice:1;
    
}
#second-border{
    border-image: linear-gradient(green,yellow);
    border-left: 10px solid;
    border-image-slice:1;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}